
.contents1{
    width: 100%;
    margin: auto;
    text-align: center;  
}

.contents1 h1{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.contents1 p{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px;
    text-align: justify;
}


.row1{
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
    text-align: justify;   
}

.contents-col1{
    background: #d6EBEE;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .Gallery .helo {
      max-width: 90% !important;
      margin: 0;
    }

    .row1{
        padding-left: 5%;
        padding-right: 5%;
    }

    .contents1 h1{
        font-size: 18px;
    }
    .contents1 p{
        font-size: 14px;
    }
  }
 